{% extends 'webapp/base.html' %}


{% block content %}

<div class="card">
    <strong>
        {{record.last_name|upper}}
        {{record.first_name}} 
    </strong>
    <hr/>
    <div class="card-body">
        <p><strong>ID:</strong>{{record.id}}</p>
        <p><strong>Email:</strong>{{record.email}}</p>
        <p><strong>Phone number:</strong>{{record.phone}}</p>
        <p><strong>City:</strong>{{record.city}}</p>
        <p><strong>Pincode:</strong>{{record.pincode}}</p>
        <p><strong>Country:</strong>{{record.country}}</p>
        <p><strong>Created at:</strong>{{record.created_date}}</p>
    </div>
</div><br/>
<a href="{%url 'dashboard' %}" type="button" class="btn btn-secondary">Return</a>&nbsp;
<a href="{%url 'update-record' record.id %}" type="button" class="btn btn-info">Update record</a>&nbsp;
<a href="{%url 'delete' record.id %}" type="button" class="btn btn-danger">Delete</a>
&nbsp;
{% endblock %}